node_modules/
bot/node_modules/
server/node_modules/
.env
*.db
loader-mod/build/
loader-mod/.gradle/
Frost-Client-src-1111/build/
Frost-Client-src-1111/.gradle/
skid.vortex-1.0.0.jar
bot/InjectedLoader.jar
bot/LoaderTemplate.jar
check_deploys.js
check_all.js
create_bot_service.js
fix_services.js
fix_services2.js
get_logs.js
get_logs2.js
get_runtime.js
redeploy.js
